/* Global setup */
*{
    box-sizing: border-box;
    margin: 0;
}

/* Page foundation */

body {
    background-color: f4flea;
    font-family: georgia, serif;
}


/* Visible component styles */
h1{
    color: #1f2937;
    text-align: center;
}

img{
    width: 420px;
    border-radius: 18px;
}

button{
    background-color: #1f2937;
    color: white;
    padding: 12px;
}

/* One specific message area */
#confirmation-message {
    color: darkgreen;
    font-weight: bold;
}
